.clock{
  background-color: burlywood;
  padding : 20px;
  color : black;
  margin : auto;
  font-size: 20px;
  font-weight: bolder;
}

.board{
    background-color:blue;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;

}

.container{
   max-width: 800px;
   margin :auto;
   padding : 100px;
   background-color: #61dafb;
   color:aliceblue;
   text-align: center;
   

}

.test {
  background: blueviolet;
  color : whites;
  font-size: 30px;
  font-weight: bord;
  padding: 20px;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
